@import '../../../../../scss/variables.scss';

.reset-form {
  width: 400px;
  padding: 20px;
  margin: 50px auto 20px;
  background: $white;
  box-shadow: 1px 2px 10px $shadow;
  border-radius: 5px;

  .mat-form-field {
    width: 100%;
  }

  .form-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}