@import '../../../../../scss/variables.scss';

.navigation {
  position: absolute;
  left: 0;
  right: 0;
  background: $navBg;

  .navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .lang-block {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .lang {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}