@import '../../../../../scss/variables.scss';

.page-container {
  height: 100%;
  text-align: center;

  &.--white {
    background-color: $white;
  }

  &.--red {
    background-color: $red;
  }

  &.--green {
    background-color: $green;
  }

  .rules {
    margin-top: 50px;

    .title {
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: 5px;
    }

    
    .rule-item {
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
  }
}