<div class="page-container" [ngClass]="colorClass">
  <app-navigation></app-navigation>
  <app-counter [counter]="counter" [increment]="increment" [actions]="actions" [color]="color"></app-counter>
  <router-outlet></router-outlet>

  <div class="rules">
    <h4 class="title" [textContent]="'RULES.TITLE' | translate"></h4>
    <div class="rule-item" [textContent]="'RULES.RULE1' | translate"></div>
    <div class="rule-item" [textContent]="'RULES.RULE2' | translate"></div>
    <div class="rule-item" [textContent]="'RULES.RULE3' | translate"></div>
    <div class="rule-item" [textContent]="'RULES.RULE4' | translate"></div>
    <div class="rule-item" [textContent]="'RULES.RULE5' | translate"></div>
  </div>
</div>
