.counter-container {
  padding-top: 100px;

  .counter {
    font-size: 100px;
    line-height: 60px;
  }

  .counter-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 50px 0 30px;
  }
}